.Title {
  text-align: center;
  width: 100%;
  hight: auto;
  background: #54aea5;
  position: fixed;
  overflow: hidden;
  padding-bottom: 25px;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
