.Title {
  text-align: center;
  width: 100%;
  hight: auto;
  background: #54aea5;
  top: 0;
  position: fixed;
  overflow: hidden;
  border-radius: 20px;
  patting: 20px:
}
.head {
  margin-top: 60px;
}
