.Title {
  text-align: center;
  width: 100%;
  hight: auto;
  background: #54aea5;
  top: 0;
  position: fixed;
  overflow: hidden;
  border-radius: 20px;
  patting: 20px:
  margin-left: -8;
}
.head {
  center: 0;
}
